{% extends "cats/base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
	<ul class="style1">
	{% for cartitem in cart_items %}
		<li>
			<h3><em><img src="{{ cartitem.product.get_image_url }}" alt="" width="130" height="130" class="alignleft border" /></em>{{cartitem.product.name}}</h3>
			<p>${{cartitem.product.price|floatformat:"2"}} x {{cartitem.quantity}} = <strong>${{cartitem.total_price|floatformat:"2"}}</strong></p>
			<form action="{% url 'store.cartupdate' cartitem.product.id %}" method="POST"> {% csrf_token %}
			{{cartitem.qty_form.as_table}}
			<p><input type="submit" value="Update Quantity" /></p>
			<a href="{% url 'store.cartremove' cartitem.product.id %}">Remove Item</a>
			</form>
		</li>
	{% endfor %}
	</ul>
	<p style='font-size:200%;font-weight:bold'>Total: ${{cart_items.total|floatformat:"2"}}</p>
{% endblock %}
