{% extends "mats/base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
	{% if request.GET.register_success %}
		<p style="color:red"><strong>Registration successful! You may now login.</strong></p>
	{% else %}
		{% if request.GET.user_exists %}
			<p style="color:red"><strong>That user is already registered!</strong></p>
		{% endif %}
			<form name="registrationForm" action="{% url 'store.register' %}" method="POST">{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" value="Register" />
			</form>
	{% endif %}
{% endblock %}