{% extends "mats/base.html" %}

{% block title %}Past Orders{% endblock %}
{% block content %}
		<div class="box2">
				<ul class="style1">
				{% for order in orders %}
					<li>
						<p><strong>Order Date: {{order.order_date|date:"M d, Y"}}</strong></p>
						{% for item in order.items %}
							<p>{{item.product.name}} x {{item.quantity}}</p>
						{% endfor %}
						<p><strong>Total: ${{order.total|floatformat:"2"}}</strong></p>
					</li>
				{% endfor %}
				</ul>
		</div>
{% endblock %}
